@media (max-width: 1500px) { 

.consultation-form__photo { 
  width: 1600px;
  }

.consultation-form__photo img { 
  width: 100%;
  }

}

@media (max-width: 1400px) {

.one-cars-info__container { 
  max-width: 1200px;
  }

.brands { 
  background: url(../img/src/brands-bg.png) center no-repeat #fff;
  background-size: cover;
  border-radius: 40px;
  box-shadow: 0 30px 60px rgba(163, 169, 183, 0.07);
  }

.brands:before { 
  display: none;
  }

.brands__in { 
  padding: 70px 130px;
  }

.brands__info { 
  padding: 0;
  }

.service { 
  padding: 0;
  }

.consultation-form__photo { 
  width: 1500px;
  }

.calculation-expenses__in {
  justify-content: space-between; 
  align-items: center;
  }  

.calculation-expenses__info { 
  margin: 0;
  padding: 0;
  max-width: 500px;
  width: 100%;
  }

.calculation-expenses__title { 
  font-size: 36px;
  line-height: 46px;
  }

.calculation-expenses__sub-title { 
  font-size: 24px;
  line-height: 34px;
  }

.calculation-expenses__payment-option { 
  max-width: 600px;
  width: 100%;
  }

.payment-option__item:nth-child(2) { 
  width: 42%;
  }

.payment-option__item:nth-child(3) { 
  width: 58%;
  }

.title-small { 
  font-size: 22px;
  line-height: 30px;
  }

}

@media (max-width: 1300px) {

[class*=__container] {
  padding-left: 20px;
  padding-right: 20px; 
}

.wrapper { 
  padding: 0;
  }

.header { 
  padding: 25px 0 0;
  top: 0;
  }

.logo__img { 
  width: 220px;
  }

.logo__text { 
  font-size: 14px;
  line-height: 22px;
  }

.address__map {
  margin: 0 15px 0 0; 
  width: 80px;
  }

.address__description span { 
  font-size: 14px;
  line-height: 22px;
  }

.messengers__icon { 
  width: 30px;
  }

.messengers__text { 
  font-size: 14px;
  line-height: 22px;
  }

.phone__number { 
  font-size: 24px;
  }

.phone__work-time { 
  font-size: 14px;
  line-height: 22px;
  }

.phone__link { 
  font-size: 14px;
  line-height: 22px;
  }

.selection-delivery { 
  margin: 0 0 100px;
  padding: 0;
  }

.selection-delivery__container { 
  border-radius: 0;
  }

.service { 
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 20px;
  }

.service__item { 
  display: block;
  padding: 25px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  }

.service__photo {
  display: flex;
  justify-content: center; 
  margin: 0 0 25px;
  }

.service__description { 
  padding: 0;  
  }

.offices__catalog { 
  gap: 20px 20px;
  }

.offices__photo { 
  height: 400px;
  }

.offices__photo img { 
  border-radius: 15px;
  }

.sticker { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  width: 120px;
  height: 120px;
  top: 20px;
  right: 20px;
  }

.offices__item:nth-child(2n) .offices__sticker { 
  left: 20px;
  right: auto;
  }

.sticker__icon { 
  margin-bottom: 5px;
  }

.sticker__text { 
  font-size: 10px;
  line-height: 16px;
  }

.access__photo { 
  right: -700px;
  }

.access { 
  padding: 0;
  }

.access__container { 
  border-radius: 0px;
  }

.questions { 
  padding: 0;
  }

.questions__container { 
  border-radius: 0;
  }

.step { 
  padding: 54px 50px 70px;
  }

.image-type__name { 
  font-size: 16px;
  line-height: 26px;
  }

.success { 
  padding: 0;
  }

.success__container { 
  border-radius: 0;
  }

.success__content { 
  padding: 216px 20px 150px;
  }

.parameters-info__photo { 
  right: -400px;
  }

.development { 
  margin: 0 0 10px;
  }

.development__logo { 
  width: 100px;
  height: 37px;
  }

.development__text { 
  font-size: 14px;
  line-height: 22px;
  }

.questions__title br { 
  display: none;
  }

.questions__content { 
  padding: 0;
  }

.catalog { 
  margin: 0 -15px;
  }

.catalog__item { 
  padding: 0 10px;
  }

.catalog__description { 
  padding: 30px;
  }

.catalog__price dd { 
  font-size: 24px;
  line-height: 36px;
  }

.models__top-col { 
  display: block;
  margin: 0;
  }

.models__specifications { 
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 20px;
  margin: 0 0 30px;
  }

.models__specifications li { 
  font-size: 20px;
  line-height: 26px;
  }

.models__descriprion { 
  display: flex;
  flex-direction: column;
  }

.models__photo { 
  margin: 0 0 30px;
  order: -2;
  }

.models__text { 
  padding: 25px;
  max-width: 100%;
  }

.footer__link { 
  font-size: 12px;
  line-height: 20px;
  }

}

@media (max-width: 1240px) {

.selection-delivery__title br { 
  display: none;
  }

.success__container { 
  padding: 0;
  }

.success__manager { 
  width: 600px;
  right: 0;
  z-index: -1;
  }

.question__phone { 
  margin: 0;
  }

.question__phone img { 
  margin: 0 10px 0 0;
  }

.question__phone span { 
  font-size: 26px;
  }

.video-reviews__title br { 
  display: none;
  }

.video-reviews__catalog { 
  gap: 25px 25px;
  }

.advantages__in { 
  padding: 35px;
  }

.text-type { 
  gap: 20px 20px;
  }

.text-type__item label { 
  padding: 15px;
  min-height: 80px;
  border-radius: 10px;
  }

.text-type__check { 
  margin: 0 15px 0 0;
  width: 40px;
  height: 40px;
  }

.text-type__info { 
  font-size: 16px;
  line-height: 22px;
  }

.consultation-form__photo { 
  width: 1400px;
  bottom: -144px;
  }

}

@media (max-width: 1150px) {

.parameters-info__photo {
  width: 700px;
  right: -140px;
  bottom: 0;
  }

.parameters-info__photo img { 
  width: 100%;
  }

.car-selection p { 
  font-size: 20px;
  line-height: 26px;
  }

.steps-panel__in { 
  padding: 30px;
  }

.image-type__name { 
  font-size: 14px;
  line-height: 16px;
  }

.consultation-form__photo { 
  width: 1300px;
  bottom: -100px;
  }

.stages__info-catalog { 
  margin: 0;
  }

.documents {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 20px;
  margin: 0 0 70px;
  }

.documents__item { 
  display: block;
  padding: 50px 25px 40px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  }

.documents__photo { 
  margin: 0 auto 30px !important;
  max-width: 200px;
  width: 100% !important;
  height: 200px;
  }

.documents__photo img {
  width: 100%;
  height: 100%; 
  object-fit: contain;
  }

.documents__description { 
  padding: 0 !important;
  }

.documents__title-small br { 
  display: none;
  }

}

@media (max-width: 1050px) {

[class*="__container"] {
  padding-left: 15px;
  padding-right: 15px;
  }

.header__logo { 
  padding: 0;
  }

.logo__img { 
  margin: 0 0 7px;
  width: 150px;
  }

.logo__text { 
  font-size: 10px;
  line-height: 16px;
  }

.address__description span { 
  font-size: 12px;
  line-height: 20px;
  }

.address__map { 
  width: 60px;
  }

.header__messengers { 
  padding: 0;
  }

.messengers {
  gap: 5px 0;
  }

.messengers__icon { 
  margin: 0 10px 0 0;
  width: 24px;
  }

.messengers__text { 
  font-size: 12px;
  line-height: 20px;
  }

.phone__number { 
  font-size: 20px;
  line-height: 30px;
  }

.phone__work-time { 
  padding: 0 0 0 10px;
  font-size: 12px;
  line-height: 20px;
  }

.selection-delivery:before { 
  height: 500px;
  bottom: -120px;
  background-size: cover;
  }

.selection-delivery__container { 
  padding-top: 140px;
  padding-bottom: 100px;
  }

.selection-delivery__title { 
  font-size: 40px;
  line-height: 56px;
  }

.selection-delivery__sub-title { 
  font-size: 30px;
  line-height: 40px;
  }

.selection-delivery__small-text { 
  margin: 0 0 50px;
  }

.advantages__icon { 
  margin: 5px 15px 0 0;
  }

.advantages__text { 
  font-size: 16px;
  line-height: 22px;
  }

.one-cars-info { 
  padding: 0 0 70px;
  }

.offices { 
  padding: 70px 0;
  }

.experience { 
  padding: 70px 0;
  }

.success__container { 
  padding: 0;
  }

.brands { 
  border-radius: 15px;
  }

.brands__in { 
  padding: 50px;
  }

.video-reviews { 
  padding: 0 0 70px;
  }

.request-info { 
  padding: 0 0 70px;
  }

.access { 
  margin: 0 0 90px;
  }

.access__form { 
  margin: 0 auto 50px;
  border-radius: 15px;
  }

.access__photo { 
  display: none;
  }

.video-report { 
  padding: 0 0 70px;
  }

.video-report__catalog { 
  gap: 20px 20px;
  }

.video-report__photo img { 
  border-radius: 15px;
  }

.success__content { 
  padding: 150px 15px 70px;
  }

.success__title { 
  font-size: 40px;
  line-height: 56px;
  }

.success p { 
  margin: 0 0 30px;
  font-size: 20px;
  line-height: 30px;
  }

.success__manager { 
  width: 460px;
  }

.reminder__icon { 
  margin: 0 15px 0 0;
  }

.reminder__description span { 
  font-size: 20px;
  line-height: 30px;
  }

.question { 
  padding: 70px 0;
  }

.video-reviews_changed { 
  padding: 70px 0 0;
  }

.above-title__text { 
  padding: 15px 20px 11px;
  font-size: 16px;
  line-height: 20px;
  }

.title {
  font-size: 36px;
  line-height: 46px;
  }

.title-middle { 
  font-size: 30px;
  line-height: 40px;
  }

.title-small { 
  font-size: 22px;
  line-height: 30px;
  }

.service__title-small { 
  margin: 0 0 10px;
  }

.sub-title {
  margin: 0 0 30px;
  font-size: 24px;
  line-height: 34px;
  }

.small-sub-title { 
  font-size: 20px;
  line-height: 30px;
  }

.cursor-icon { 
  display: block;
  }

.logistics-info { 
  display: flex;
  gap: 0 15px;
  margin: 0 -15px;
  padding: 0 15px;
  overflow-x: scroll;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
  }

.logistics-info::-webkit-scrollbar { 
  width: 0; 
  height: 0;
  background: transparent;
  }

.logistics-info__item { 
  padding: 25px;
  width: 340px;
  min-width: 340px;
  height: auto;
  white-space: normal;
  border-radius: 15px;
  }

.logistics-info__item:nth-child(2n) { 
  margin: 0;
  }

.logistics-info__title-small br { 
  display: none;
  }

.logistics-info__item p br { 
  display: none;
  }

.video-reviews__catalog { 
  display: flex;
  gap: 0 15px;
  margin: 0 -15px;
  padding: 0 15px;
  overflow-x: scroll;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
  }

.video-reviews__catalog::-webkit-scrollbar {
  width: 0; 
  height: 0;
  background: transparent;
  }

.video-reviews__item { 
  width: 340px;
  min-width: 340px;
  white-space: normal;
  }

.video-reviews__poster img { 
  border-radius: 15px;
  }

.video-reviews__poster { 
  margin: 0 0 15px;
  }

.offices-info { 
  padding: 70px 0;
  }

.offices-info_changed { 
  padding: 70px 0;
  }

.offices-info__catalog { 
  gap: 20px 20px;
  }

.offices-info__photo img { 
  border-radius: 15px;
  }

.offices-info__description { 
  padding: 0;
  }

.contacts__text { 
  font-size: 16px;
  line-height: 26px;
  }

.contacts__text small { 
  font-size: 14px;
  }

.location_changed { 
  height: auto;
  }

.location__map { 
  position: relative;
  margin: 0 0 30px;
  height: 340px;
  top: 0;
  overflow: hidden;
  border-radius: 10px;
  }

.location_changed .location__map { 
  margin: 0;
  }

.location__col { 
  padding: 0;
  display: block;
  }

.scheme-form { 
  margin: 0 auto;
  border-radius: 15px;
  }

.scheme-form__sub-title { 
  margin: 0 0 15px;
  font-size: 20px;
  line-height: 24px;
  }

.development__logo { 
  margin: 0 10px 0 0;
  }

.development__text { 
  font-size: 12px;
  line-height: 20px;
  }

.parameters { 
  padding: 50px;
  }

.parameters-info { 
  border-radius: 15px;
  }

.parameters-info__description { 
  padding: 50px 50px 100px;
  }

.access__container { 
  padding: 70px 15px 0;
  }

.hystmodal__wrap { 
  padding: 0 30px;
  }

.hystmodal .hystmodal__window { 
  padding: 40px 30px;
  border-radius: 15px;
  }

.hystmodal .hystmodal__close { 
  width: 12px;
  height: 12px;
  right: -20px;
  }

.callback-form__sub-title { 
  margin: 0 0 15px;
  font-size: 20px;
  line-height: 24px;
  }

.choosing-car { 
  padding: 0 0 120px;
  }

.request-info__diagnostics { 
  margin: -175px 0 0 0;
  }

.step { 
  border-radius: 15px;
  }

.image-type__photo img { 
  border-radius: 15px;
  }

.questions__container { 
  padding-top: 70px;
  padding-bottom: 70px;
  }

.percent__icon { 
  width: 80px;
  }

.percent__text { 
  font-size: 24px;
  line-height: 30px;
  }

.consultation-form__info-text { 
  font-size: 16px;
  line-height: 24px;
  }

.calculation-expenses { 
  padding: 70px 0;
  }

.stages { 
  padding: 0 0 70px;
  }

.delivered-cars { 
  margin: 0 0 70px;
  }

.popular-cars { 
  padding: 70px 0;
  }

.calculation-expenses__in { 
  display: block;
  }

.calculation-expenses__info { 
  margin: 0 auto 30px;
  max-width: 800px;
  }

.calculation-expenses__title { 
  text-align: center;
  }

.calculation-expenses__sub-title { 
  text-align: center;
  }

.calculation-expenses__sub-title br { 
  display: none;
  }

.calculation-expenses__payment-option { 
  display: flex;
  flex-wrap: inherit;
  gap: 0 15px;
  margin: 0 -15px;
  padding: 0 15px;
  max-width: inherit;
  width: auto;
  overflow-x: scroll;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
  }

.calculation-expenses__payment-option::-webkit-scrollbar { 
  width: 0; 
  height: 0;
  background: transparent;
  }

.payment-option__item { 
  padding: 25px !important;
  width: 340px !important;
  min-width: 340px !important;
  white-space: normal;
  box-shadow: none;
  border-radius: 15px;
  }

.payment-option__item:nth-child(1) { 
  display: block;
  }

.payment-option__item:nth-child(1) .payment-option__icon { 
  margin: 0 0 11px;
  }

.info-catalog__item { 
  padding: 50px !important;
  min-height: inherit;
  border-radius: 15px;
  }

.catalog { 
  display: flex;
  justify-content: flex-start;
  flex-wrap: inherit;
  gap: 0 15px;
  margin: 0 -15px;
  padding: 0 15px;
  width: auto;
  overflow-x: scroll;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
  }

.catalog::-webkit-scrollbar { 
  width: 0; 
  height: 0;
  background: transparent;
  }

.catalog__item { 
  padding: 0;
  width: 340px;
  min-width: 340px;
  white-space: normal;
  box-shadow: none;
  }

.catalog__item.hidden { 
  display: block;
  }

.catalog__content { 
  box-shadow: none;
  }

.popular-cars__btn { 
  display: none;
  }

.catalog__content { 
  border-radius: 15px;
  }

.photo-slider img { 
  border-radius: 15px;
  }

.delivered-cars { 
  padding: 0;
  }

.delivered-cars__container { 
  padding: 70px 15px;
  border-radius: 0;
  }

.models { 
  display: block;
  }

.models__nav.swiper { 
  margin: 0 0 30px;
  width: 100%;
  height: auto;
  }

.models__name { 
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  }

.models__photo { 
  height: 420px;
  }

.models__photo img { 
  border-radius: 15px;
  }

.models__specifications { 
  grid-template-columns: repeat(3, 1fr);
  }

.models__specifications li { 
  font-size: 18px;
  }

.models__text { 
  border-radius: 15px;
  }

}

@media (max-width: 1000px) {

.question__panel { 
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 20px;
  }

.question__phone { 
  width: 100%;
  }

.question__phone a { 
  display: flex;
  justify-content: center;
  }

.car-selection__container { 
  flex-direction: column;
  align-items: center;
  gap: 30px 0;
  text-align: center;
  }

.car-selection p { 
  font-size: 18px;
  line-height: 22px;
  }

.steps-panel__in { 
  flex-direction: column;
  align-items: center;
  gap: 30px 0;
  text-align: center;
  }

.video-report__btn { 
  padding: 25px 30px;
  font-size: 16px;
  }

.step { 
  padding: 30px;
  }

.image-type { 
  grid-template-columns: repeat(4, 1fr);
  }

.text-type { 
  gap: 10px 10px;
  }

.text-type__item label { 
  border-radius: 5px;
  }

.text-type__info { 
  font-size: 14px;
  line-height: 16px;
  }

.consultation-form__photo { 
  width: 1200px;
  }

}

@media (max-width: 900px) {

.header__address { 
  display: none;
  }

.advantages { 
  padding: 5px;
  border-radius: 10px;
  }

.advantages__in { 
  padding: 25px;
  border-radius: 10px;
  }

.advantages__icon { 
  margin: 0 10px 0 0;
  }

.advantages__text { 
  font-size: 14px;
  line-height: 20px;
  }

.brands { 
  border-radius: 15px;
  }

.brands__in { 
  padding: 30px;
  }

.brands__info { 
  margin: 0 40px 0 0;
  }

.parameters { 
  padding: 30px;
  border-radius: 15px;
  }

.parameters-info { 
  border-radius: 15px;
  }

.parameters-info__description { 
  padding: 30px 30px 100px;
  }

.parameters-info__photo { 
  width: 580px;
  right: -100px;
  }

.steps-panel { 
  padding: 5px;
  max-width: 680px;
  border-radius: 10px;
  }

.steps-panel__in { 
  border-radius: 10px;
  }

.image-type_four-col .image-type__photo { 
  height: 160px;
  }

.image-type__name br { 
  display: none;
  }

.consultation-form__info-text { 
  display: none;
  }

.consultation-form__photo { 
  display: none;
  }

.consultation-form__catalog-widget { 
  display: none;
  }

.consultation-form__col {
  display: flex; 
  flex-direction: column;
  align-items: center;
  }

.consultation-form__title-middle { 
  text-align: center;
  }

.consultation-form__title-middle br { 
  display: none;
  }

.small-sub-title { 
  text-align: center;
  }

.small-sub-title br { 
  display: none;
  }

.info-catalog__item { 
  padding: 50px 30px !important;
  }

.footer__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 20px;
  }

}

@media (max-width: 850px) {

.parameters-info__photo { 
  width: 440px;
  bottom: 50px;
  }

.video-report__btn { 
  padding: 15px 20px;
  font-size: 14px;
  }

.btn_play:before { 
  margin: -2px 10px 0 0;
  }

.request-info__diagnostics { 
  margin: -100px 0 0;
  }

.image-type { 
  grid-template-columns: repeat(3, 1fr);
  }

.text-type { 
  grid-template-columns: repeat(2, 1fr);
  }

.photo-slider .swiper-slide { 
  height: 190px;
  }

.catalog__description { 
  padding: 20px;
  }

.video-link__play-btn { 
  margin: 0 10px 0 0;
  width: 36px;
  height: 36px;
  }

.video-link__play-btn:before {
  width: 7px;
  height: 10px;
  left: 16px;
  }

.video-link__text { 
  font-size: 16px;
  line-height: 26px;
  }

.catalog__btn { 
  padding: 14px 10px 15px;
  }

.catalog__sticker { 
  top: 15px;
  left: 15px;
  }

.models__specifications { 
  grid-template-columns: repeat(2, 1fr);
  }

}

@media (max-width: 800px) {

.advantages__text { 
  font-size: 12px;
  line-height: 18px;
  }

}

@media (max-width: 767px) {

input[type="tel"], 
input[type="text"], 
input[type="email"], 
input[type="password"] { 
  padding: 0 25px;
  font-size: 18px;
  height: 76px;  
  }

input[type="tel"] { 
  background-position: right 30px center;
  }

.btn { 
  padding: 23px 25px;
  width: 100%;
  font-size: 16px;
  }

.btn_arrow-top:after { 
  margin: 6px 0 0 10px;
  width: 16px;
  height: 16px;
  }

.btn_whatsapp,
.btn_telegram { 
  padding: 24px 25px;
  font-size: 16px;
  }

.title {
  margin: 0 0 20px;
  font-size: 30px;
  line-height: 40px;
  }

.title-middle { 
  margin: 0 0 20px;
  font-size: 26px;
  line-height: 36px;
  }

.title-small { 
  font-size: 20px;
  line-height: 26px;
  }

.sub-title {
  margin: 0 0 20px;
  font-size: 20px;
  line-height: 30px;
  }

p {
  margin: 0 0 15px; 
  font-size: 14px;
  line-height: 24px;
  }

.selection-delivery { 
  margin: 0 0 70px;
  }

.selection-delivery__small-text { 
  margin: 0 0 30px;
  }

.selection-delivery__sub-title br { 
  display: none;
  }

.success__content { 
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 0;
  }

.success__manager { 
  position: static;
  margin: 0 auto;
  max-width: 300px;
  width: 100%;
  }

.success__form { 
  margin: 0 0 70px;
  max-width: 100%;
  }

.success__form input[type="tel"] { 
  font-size: 18px;
  }

.btn_big-size { 
  padding: 12px 25px;
  min-height: 76px;
  font-size: 18px;
  line-height: 26px;
  }

.offices-info__catalog { 
  grid-template-columns: repeat(1, 1fr);
  gap: 50px 0;
  }

.callback-form__sub-title { 
  font-size: 18px;
  line-height: 22px;
  }

.title-very-small { 
  font-size: 14px;
  line-height: 24px;
  }

.brands p { 
  font-size: 16px;
  line-height: 26px;
  }

.offices__catalog { 
  grid-template-columns: repeat(1, 1fr);
  }

.parameters-info__photo { 
  display: none;
  }

.parameters__list li { 
  font-size: 16px;
  line-height: 26px;
  }

.parameters__list li:before { 
  top: 11px;
  }

.check-list li { 
  font-size: 16px;
  line-height: 26px;
  }

.parameters { 
  position: relative;
  }

.parameters:before {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(5px);
  border-radius: 15px;
  content: "";
  }

.parameters__title-small { 
  position: relative;
  z-index: 5;
  }

.parameters-info__description { 
  padding: 30px;
  }

.parameters-info__check-list { 
  margin-bottom: 20px;
  }

.parameters-info__btn { 
  position: static;
  transform: translate(0px);
  white-space: normal;
  }

.above-title__text { 
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 5px;
  }

.scheme-form__sub-title { 
  font-size: 18px;
  line-height: 22px;
  }

.access__form { 
  max-width: 100%;
  }

.steps-panel__in { 
  gap: 0;
  }

.steps-panel__title-middle img { 
  width: 26px;
  }

.access__phone { 
  font-size: 20px;
  }

.access__mail { 
  font-size: 18px;
  }

.video-report__catalog { 
  grid-template-columns: repeat(1, 1fr);
  }

.video-report__item { 
  height: 260px;
  }

.video-report__btn { 
  width: auto;
  }

.choosing-car { 
  padding: 0 0 70px;
  }

.request-info__title { 
  text-align: center;
  }

.request-info__title br { 
  display: none;
  }

.request-info__sub-title { 
  margin: 0 0 50px;
  text-align: center;
  }

.request-info__diagnostics { 
  margin: 0;
  }

.diagnostics__photo { 
  display: none;
  }

.diagnostics__mobile-photo { 
  display: block;
  }

.diagnostics__info { 
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 20px;
  }

.questions__title-middle br { 
  display: none;
  }

.image-type { 
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 10px;
  }

.notification { 
  top: 95px;
  }

.consultation-form__list { 
  max-width: 100%;
  width: 100%;
  }

.catalog__btn { 
  padding: 14px 10px 15px;
  }

.popular-cars__btn { 
  max-width: 370px;
  }

}

@media (max-width: 720px) {

.header { 
  padding: 25px 0 0;
  top: 10px;
  }

.advantages__in { 
  flex-wrap: wrap;
  gap: 20px 20px;
  }

.advantages__item { 
  align-items: center;
  }

.advantages__text br { 
  display: none;
  }

.brands__info { 
  margin: 0 0 30px;
  text-align: center;
  }

.brands__in { 
  display: block;
  }

.brands__title-middle br { 
  display: none;
  }

.brands p br { 
  display: none;
  }

.success__content { 
  padding: 120px 15px 0;
  }

}

@media (max-width: 680px) {

.service { 
  grid-template-columns: repeat(1, 1fr);
  }

.service__photo { 
  height: auto;
  }

.service__title-small br { 
  display: none;
  }

.service__item p br { 
  display: none;
  }

.documents { 
  margin: 0 0 50px;
  }

.models__nav.swiper { 
  margin: 0 -15px 30px;
  padding: 0 15px;
  width: inherit;
  }

.models__nav .swiper-slide { 
  width: 200px;
  }

}

@media (max-width: 620px) {

.offices-info__photo { 
  margin: 0 0 20px;
  height: 280px;
  }

}

@media (max-width: 600px) {

.header__messengers { 
  display: none;
  }

.selection-delivery:before { 
  height: 300px;
  bottom: -70px;
  }

.selection-delivery__container { 
  padding-bottom: 70px;
  }

.selection-delivery__title { 
  font-size: 36px;
  line-height: 46px;
  }

.selection-delivery__sub-title { 
  font-size: 24px;
  line-height: 28px;
  }

.advantages__in {
  gap: 15px 15px; 
  padding: 15px;
  }

.advantages__text { 
  font-size: 14px;
  line-height: 20px;
  }

.one-cars-info { 
  padding: 0 0 50px;
  }

.offices { 
  padding: 50px 0;
  }

.video-reviews { 
  padding: 0 0 50px;
  }

.choosing-car { 
  padding: 0 0 50px;
  }

.access__container { 
  padding: 50px 15px 0;
  }

.questions__container { 
  padding-top: 50px;
  padding-bottom: 50px;
  }

.delivered-cars__container { 
  padding: 50px 15px;
  }

.success__title { 
  font-size: 36px;
  line-height: 46px;
  }

.success p { 
  font-size: 16px;
  line-height: 24px;
  }

.reminder__icon { 
  width: 30px;
  }

.reminder__icon img { 
  width: 100%;
  }

.reminder__description span { 
  font-size: 16px;
  line-height: 22px;
  }

.success__form { 
  margin: 0 0 50px;
  }

.success__manager { 
  max-width: 200px;
  }

.title {
  font-size: 23px;
  line-height: 30px;
  }

.title-middle { 
  font-size: 20px;
  line-height: 24px;
  }

.title-small { 
  font-size: 18px;
  line-height: 22px;
  }

.catalog__specifications li { 
  font-size: 16px;
  line-height: 26px;
  }

.catalog__price dt { 
  font-size: 16px;
  line-height: 26px;
  }

.catalog__price dt:before { 
  top: 1px;
  }

.sub-title {
  font-size: 16px;
  line-height: 24px;
  }

.questions__title-middle small { 
  font-size: 14px;
  }

.step__text { 
  font-size: 14px;
  }

.video-reviews_changed { 
  padding: 50px 0 0;
  }

.experience { 
  padding: 50px 0;
  }

.question { 
  padding: 50px 0;
  }

.question__phone span { 
  font-size: 20px;
  line-height: 24px;
  }

.video-report { 
  padding: 0 0 50px;
  }

.offices-info { 
  padding: 50px 0;
  }

.offices-info_changed { 
  padding: 50px 0;
  }

.sending-method { 
  grid-template-columns: repeat(1, 1fr);
  gap: 7px 0;
  }

.car-selection p { 
  font-size: 16px;
  line-height: 20px;
  }

.access__form { 
  padding: 40px 30px;
  }

.scheme-form { 
  padding: 30px;
  }

.scheme-form__sub-title { 
  font-size: 16px;
  }

.small-sub-title { 
  font-size: 16px;
  line-height: 20px;
  }

.footer { 
  padding: 20px 0 15px;
  }

#callback .hystmodal__window { 
  padding: 30px;
  }

.callback-form__sub-title { 
  font-size: 16px;
  }

.checkbox label { 
  font-size: 11px;
  }

.request-info { 
  padding: 0 0 50px;
  }

.diagnostics__icon { 
  margin: 0 10px 0 0;
  }

.diagnostics__text { 
  font-size: 14px;
  line-height: 20px;
  }

.image-type__engine-sticker { 
  top: 5px;
  right: 5px;
  }

.image-type__engine-sticker { 
  width: 30px;
  }

.image-type__engine-sticker_big-size { 
  width: 52px;
  }

.image-type__flag-sticker { 
  width: 40px;
  top: 5px;
  right: 5px;
  }

.image-type__flag-sticker_position-left { 
  top: 5px;
  left: 5px;
  right: auto;
  }

.image-type__flag-sticker_small-size { 
  width: 30px;
  }

.text-type__item label { 
  padding: 10px;
  min-height: 70px;
  }

.text-type__check { 
  margin: 0 10px 0 0;
  }

.text-type__info { 
  font-size: 12px;
  line-height: 14px;
  }

.calculation-expenses { 
  padding: 50px 0;
  }

.stages { 
  padding: 0 0 50px;
  }

.delivered-cars { 
  margin: 0 0 50px;
  }

.popular-cars { 
  padding: 50px 0;
  }

.info-catalog__item { 
  position: relative;
  }

.info-catalog__item:before { 
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.3);
  content: "";
  border-radius: 15px;
  }

.models__name { 
  height: 66px;
  font-size: 14px;
  }

.models__photo { 
  height: 300px;
  }

.models__specifications { 
  gap: 10px 15px;
  }

.models__text { 
  padding: 20px;
  }


.models__specifications li { 
  font-size: 14px;
  line-height: 20px;
  }

}

@media (max-width: 520px) {

.success__title { 
  font-size: 30px;
  line-height: 36px;
  }

.title br { 
  display: none;
  }

.sub-title br { 
  display: none;
  }

.diagnostics__info { 
  gap: 10px 10px;
  }

.diagnostics__icon { 
  width: 50px;
  }

.diagnostics__text { 
  font-size: 12px;
  line-height: 18px;
  }

.documents { 
  grid-template-columns: repeat(1, 1fr);
  }

}

@media (max-width: 460px) {

fieldset { 
  margin: 0 0 10px;
  }

input[type="tel"], 
input[type="text"], 
input[type="email"], 
input[type="password"] { 
  padding: 0 25px;
  font-size: 14px;
  height: 64px;  
  }

input[type="tel"] { 
  background-size: 16px 25px;
  background-position: right 25px center;
  }

.btn_big-size { 
  min-height: 64px;
  font-size: 14px;
  line-height: 22px;
  }

.btn { 
  font-size: 14px;
  line-height: 22px;
  }

.btn_arrow-top:after {
  margin: 5px 0 0 5px;
  width: 12px;
  height: 12px;
  }

.btn br { 
  display: none;
  }

.btn_whatsapp, 
.btn_telegram {
  padding: 18px 20px;
  border-radius: 35px;
  }

.btn_whatsapp:before, 
.btn_telegram:before { 
  margin-right: 10px;
  width: 20px;
  height: 20px;
  }

.catalog__btn { 
  padding: 15px 40px;
  }

.messengers__text {
  font-size: 10px;
  line-height: 18px;
  }

.selection-delivery__title { 
  font-size: 24px;
  line-height: 34px;
  }

.selection-delivery__sub-title { 
  margin: 0 0 30px;
  font-size: 18px;
  line-height: 24px;
  }

.selection-delivery__sub-title img { 
  width: 37px;  
  }

.success p br { 
  display: none;
  }

.reminder__description span { 
  font-size: 14px;
  line-height: 20px;
  }

.reminder__description span br { 
  display: none;
  }

.success__form input[type="tel"] { 
  font-size: 14px;
  }

.parameters__title-small br { 
  display: none;
  }

.parameters__list { 
  padding: 0;
  }

.parameters__list li { 
  font-size: 14px;
  }

.parameters-info__title-small br { 
  display: none;
  }

.parameters-info__check-list { 
  margin: 0 0 20px;
  gap: 0 20px;
  }

.check-list li { 
  font-size: 14px;
  line-height: 20px;
  }

.check-list li:before { 
  top: 0;
  }

.car-selection p br { 
  display: none;
  }

.steps-panel__in { 
  padding: 30px 15px;
  }

.step { 
  padding: 15px;
  }

.progress-bar { 
  margin-bottom: 30px;
  height: 12px;
  }

.progress-bar__line { 
  height: 12px;
  }

.image-type { 
  margin: 0 0 30px;
  }

.image-type__photo { 
  height: 120px;
  }

.image-type__check { 
  width: 40px;
  height: 40px;
  }

.image-type__name { 
  font-size: 12px;
  line-height: 14px;
  }

.notification { 
  padding: 10px;
  width: 200px;
  top: 85px;
  border-radius: 5px;
  }

.notification__text { 
  font-size: 10px;
  line-height: 14px;
  }

.image-type_four-col .image-type__photo { 
  height: 120px;
  }

.text-type { 
  margin: 0 0 30px;
  grid-template-columns: repeat(1, 1fr);
  }

.text-type__info br { 
  display: none;
  }

.step__percent { 
  margin: 0 0 20px;
  }

.percent__icon { 
  margin: 0 15px 0 0;
  width: 60px;
  }

.percent__text { 
  font-size: 18px;
  line-height: 22px;
  }

.documents__item { 
  padding: 20px;
  }

.documents__photo { 
  height: 160px;
  }

.info-catalog__item { 
  padding: 30px !important;
  }

.info-catalog__check-list { 
  margin-left: 0;
  }

.info-catalog__item { 
  margin: 0 0 20px;
  }

.info-catalog__item p { 
  margin-left: 0;
  }

.info-catalog__title-small br { 
  display: none;
  }

.models__nav .swiper-slide { 
  width: 210px;
  }

.models__specifications li { 
  font-size: 12px;
  }

.footer__link { 
  font-size: 10px;
  letter-spacing: 0.2px;
  }
  
}

@media (max-width: 420px) {

.logo__text { 
  font-size: 9px;
  line-height: 14px;
  }

.phone__number { 
  display: block;
  font-size: 16px;
  line-height: 22px;
  }

.phone__work-time { 
  font-size: 10px;
  line-height: 16px;
  }

.phone__work-time:before { 
  width: 4px;
  height: 4px;
  }

.phone__link { 
  font-size: 12px;
  line-height: 16px;
  }

.contacts__icon { 
  margin: 0 10px 0 0;
  }

.contacts__text { 
  font-size: 14px;
  line-height: 20px;
  }

.contacts__text small { 
  font-size: 12px;
  }

.brands__in { 
  padding: 20px;
  }

.hystmodal__wrap { 
  padding: 0 10px;
  }

.hystmodal .hystmodal__window { 
  margin: 30px 0;
  padding: 20px 15px;
  border-radius: 10px;
  }

#callback .hystmodal__window { 
  padding: 20px 15px;
  }

.hystmodal .hystmodal__close { 
  width: 10px;
  height: 10px;
  top: 10px;
  right: 10px;
  background: url(../img/bg/close-icon-red.svg) center no-repeat;
  background-size: 100%;
  }

.callback-form__consultant { 
  width: 60px;
  top: 0;
  right: 0;
  }

.title-very-small { 
  font-size: 12px;
  line-height: 22px;
  }

.diagnostics__text { 
  font-size: 10px;
  line-height: 16px;
  }

}

@media (max-width: 400px) { 

input[type="tel"], 
input[type="text"], 
input[type="email"], 
input[type="password"] { 
  border-radius: 35px;  
  }

.btn { 
  padding: 23px 15px;
  line-height: 20px;
  border-radius: 35px;
  }

.btn_big-size { 
  padding: 12px 25px;
  line-height: 20px;
  border-radius: 35px;
  }

.selection-delivery__small-text { 
  font-size: 14px;
  line-height: 24px;
  }

.selection-delivery__small-text br { 
  display: none;
  }

.logistics-info__item { 
  padding: 15px;
  width: 260px;
  min-width: 260px;
  }

.video-reviews__item { 
  width: 260px;
  min-width: 260px;
  }

.video-reviews__poster { 
  height: 180px;
  }

.video-reviews__title-car { 
  font-size: 14px;
  line-height: 20px;
  }

.play-btn { 
  width: 46px;
  height: 46px;
  }

.play-btn:before { 
  width: 10px;
  height: 14px;
  left: 19px;
  }

.offices-info__catalog { 
  gap: 30px 0;
  }

.footer__container { 
  display: flex;
  flex-direction: column;
  gap: 25px 0;
  align-items: center;
  text-align: center;
  }

.development { 
  display: flex;
  flex-direction: column;
  }

.development__logo { 
  margin: 0 auto 15px;
  }

.footer__col { 
  display: flex;
  flex-direction: column;
  }

.development__text { 
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  line-height: 16px;
  border-bottom: 1px solid rgba(25, 25, 25, 0.1);
  }  

.development:hover .development__text { 
  border-color: rgba(253, 58, 62, 0.4);
  }

.development__text span { 
  border: 0;
  }

.development__text br { 
  display: none;
  }

.payment-option__item { 
  padding: 20px !important;
  width: 260px !important;
  min-width: 260px !important;
  }

.catalog__item { 
  width: 260px;
  min-width: 260px;
  }

.catalog__sticker { 
  padding: 4px 10px;
  font-size: 10px;
  }

.photo-slider .swiper-slide { 
  height: 160px;
  }

.catalog__specifications li { 
  font-size: 14px;
  line-height: 24px;
  }

.catalog__price dt { 
  font-size: 14px;
  line-height: 24px;
  }

.catalog__price dd { 
  font-size: 20px;
  }

.catalog__btn { 
  padding: 15px 25px;
  font-size: 12px;
  line-height: 16px;
  }

.photo-slider .swiper-button-prev { 
  width: 32px;
  height: 32px;
  left: 10px;
  }

.photo-slider .swiper-button-prev:before { 
  left: 11px;
  }

.photo-slider .swiper-button-next { 
  width: 32px;
  height: 32px;
  right: 10px;
  }

.photo-slider .swiper-button-next:before { 
  right: 11px;
  }

.models__photo { 
  height: 180px;
  }

.models__specifications { 
  grid-template-columns: repeat(1, 1fr);
  }

.models__specifications li { 
  font-size: 14px;
  }

}

@media (max-width: 370px) {

.success__title {
  font-size: 24px;
  line-height: 34px;
  }

.parameters { 
  padding: 20px;
  }

.parameters-info__description { 
  padding: 20px;
  }

.parameters-info__btn { 
  padding: 15px 15px;
  }

.above-title__text { 
  padding: 10px 12px;
  font-size: 12px;
  }

.access__form { 
  padding: 30px 20px;
  }

.scheme-form { 
  padding: 20px;
  }

.video-report__item { 
  height: 200px;
  }

.video-report__btn { 
  padding: 17px 15px;
  }

.info-catalog__item { 
  padding: 20px !important;
  }

.check-list li br { 
  display: none;
  }

.info-catalog__item p br { 
  display: none;
  }

}

@media (max-width: 360px) {

.logo__img { 
  width: 140px;
  }

.logo__text { 
  font-size: 8px;
  }

.steps-panel__btn { 
  padding: 13px 15px;
  }

.request-info__sub-title { 
  margin: 0 0 30px;
  }

.diagnostics__icon { 
  width: 40px;
  }

.diagnostics__text { 
  line-height: 14px;
  }

.image-type__photo { 
  height: 90px;
  }

}